
<!DOCTYPE html>
<!--
	Licensed to the Apache Software Foundation (ASF) under one
	or more contributor license agreements.	See the NOTICE file
	distributed with this work for additional information
	regarding copyright ownership.	The ASF licenses this file
	to you under the Apache License, Version 2.0 (the
	"License"); you may not use this file except in compliance
	with the License.	You may obtain a copy of the License at

	http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing,
	software distributed under the License is distributed on an
	"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
	 KIND, either express or implied.	See the License for the
	specific language governing permissions and limitations
	under the License.
-->
<html>
	<head>
		<!--
		Customize this policy to fit your own app's needs. For more guidance, see:
			https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
		Some notes:
			* gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
			* https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
			* Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
				* Enable inline JS: add 'unsafe-inline' to default-src
		-->
		<meta http-equiv="Content-Security-Policy" content="script-src * 'self' 'unsafe-inline' 'unsafe-eval'; style-src * 'self' 'unsafe-inline' 'unsafe-eval' blob:; img-src * 'self' data: https:; media-src *;" />
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<title>ASUGFR</title>

		<!-- CORDOVA -->
		<script type="text/javascript" src="cordova.js"></script>

		<!-- JQUERY -->
		<script type="text/javascript" src="assets/js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="assets/js/popper.min.js"></script>

		<!-- BOOTSTRAP -->
		<!-- http://getbootstrap.com/ -->
		<!-- https://bootswatch.com/materia -->
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-materia.min.css">
		<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

		<!-- ICONS -->
		<!-- https://fontawesome.com/ -->
		<link rel="stylesheet" type="text/css" href="assets/css/fa-svg-with-js.css">
		<script type="text/javascript" src="assets/js/fontawesome-all.min.js"></script>

		<!-- NOTIFICATION -->
		<!-- https://github.com/jaredreich/notie -->
		<link rel="stylesheet" type="text/css" href="assets/css/notie.min.css">
		<script type="text/javascript" src="assets/js/notie.min.js"></script>

		<!-- PROGRESS BAR -->
		<link rel="stylesheet" type="text/css" href="assets/css/nprogress.css">
		<script type="text/javascript" src="assets/js/nprogress.js"></script>

		<!-- VUE -->
		<script type="text/javascript" src="assets/js/vue.js"></script>

		<!-- ASUGFR -->
		<link rel="stylesheet" type="text/css" href="assets/css/ASUGFR.css">
	</head>
	<body>
		<!-- MAIN BODY -->
		<div id="asugfr-app" v-cloak>
			<main-app :settings="settings"></main-app>
		</div>

		<!-- FACTORIES -->
		<script type="text/javascript" src="app/factories/ASUGFR-mixin.js"></script>
		<script type="text/javascript" src="app/factories/MSCOG-face-api.js"></script>

		<!-- ANDROID ICONS -->
		<!-- https://romannurik.github.io/AndroidAssetStudio/icons-launcher.html#foreground.type=clipart&foreground.clipart=add_a_photo&foreground.space.trim=1&foreground.space.pad=0.05&foreColor=rgba(145%2C%2023%2C%20130%2C%200.64)&backColor=rgb(255%2C%20255%2C%20255)&crop=0&backgroundShape=square&effects=none&name=ic_launcher -->

		<!-- COMPONENTS & TEMPLATES -->
			<!-- MAIN COMPONENT -->
				<script type="text/x-template" id="main-app">
					<div class="main-app-container">
						<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-1">
							<a class="navbar-brand" href="#" v-if="settings['renderPage'] == 'login'">ASUGFR</a>
							<a class="navbar-brand" href="#" v-else v-on:click="dashboard()">ASUGFR</a>
						</nav>

						<login v-if="'login' == settings['renderPage']" :settings="settings" class="mt-5"></login>

						<dashboard v-if="'dashboard' == settings['renderPage']" :settings="settings" class="mt-5"></dashboard>

						<attendance-sheets v-if="'attendance-sheets' == settings['renderPage']" :settings="settings" class="mt-3"></attendance-sheets>

						<register-face-api v-if="'register-face-api' == settings['renderPage']" :settings="settings" class="mt-5"></register-face-api>

						<take-attendance-pic v-if="'take-attendance-pic' == settings['renderPage']" :settings="settings" class="mt-5"></take-attendance-pic>

						<quiz-sheets v-if="'quiz-sheets' == settings['renderPage']" :settings="settings"></quiz-sheets>
					</div>
				</script>
				<script type="text/javascript" src="app/components/mainApp.js"></script>


			<!-- FEATURES
				1 login as "teacher"																													====> DONE
				2 view and select subjects																												====> DONE
				3 view and select section																												====> DONE
				4 make and view attendance sheet for today per section per subject by this teacher															====> DONE
				5 register faces - register student picture 1 by 1 (1 person per pic - let dace api identify face key and store to db)																												====> NOTE! THE WEB PROVIDES IMAGES UPON ENROLMENT
				6 take picture (group) - store in mobile storage,
				7 identify "faces" and flag present in attendance sheet for today
				8 notify unregistered faces
				9 make new quiz sheet																													====> DONE
				10 input and record quiz score 																											====> DONE
			-->

			<!-- // 1 -->
				<script type="text/x-template" id="login">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12 col-xl-5 col-lg-5 col-md-8 mx-auto">

								<div class="card">
									<div class="card-body">
										<h5 class="card-title text-center">Welcome Back!</h5>
										<h6 class="card-subtitle mb-2 text-muted text-center">Login your ASUGFR account.</h6>
										<hr>

										<form v-on:submit.prevent="loginAccount()">
											<div class="form-group">
												<input type="text" v-model="login_username" class="form-control" placeholder="johndoe@email.com" required>
												<label>USERNAME</label>

												<input type="password" v-model="login_password" class="form-control" placeholder="********" required>
												<label>PASSWORD</label>
											</div>

											<button type="submit" class="btn btn-primary btn-block mt-2">LOGIN</button>
										</form>
									</div>
								</div>

							</div>
						</div>
					</div>
				</script>
				<script type="text/javascript" src="app/components/login.js"></script>

			<!-- // 2, 3 -->
				<!-- NOTE: no specified School Year and or semester code/number -->
				<script type="text/x-template" id="dashboard">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">

								<div class="form-group">
									<select class="form-control" v-model="subject">
										<option value="">- SELECT SUBJECT -</option>
										<option v-for="nth in unique_subjects" :value="nth">{{ nth }}</option>
									</select>
									<label>Subject</label>

									<select class="form-control" v-model="section" :disabled="subject == ''">
										<option value="">- SELECT SECTION -</option>
										<option v-for="nth in unique_sections" :value="nth">{{ nth }}</option>
									</select>
									<label>Section</label>
								</div>

								<span class="d-block" v-if="classSelected">Subject Code: <b>{{ classSelected["t_subjectcode"] }}</b></span>
								<span class="d-block" v-if="classSelected">Subject ID: <b>{{ classSelected["t_id"] }}</b></span>
								<hr v-if="classSelected">

								<button type="submit" class="btn btn-primary btn-block mt-3" v-on:click="loadSheet('attendance-sheets')" v-if="subject != '' && section != ''"><span class="fa fa-clipboard mr-2"></span> ATTENDANCE SHEETS</button>
								<button type="submit" class="btn btn-primary btn-block mt-3" v-on:click="loadSheet('quiz-sheets')" v-if="subject != '' && section != ''"><span class="fa fa-copy mr-2"></span> QUIZ SHEETS</button>

							</div>
						</div>

						<footer class="fixed-bottom p-3 mt-3">
							<p class="text-muted">Note:<br> For security purposes, closing the APP automatically log users out of their existing accounts. Thank you.</p>
						</footer>
					</div>
				</script>
				<script type="text/javascript" src="app/components/dashboard.js"></script>

			<!-- // 4 -->
				<script type="text/x-template" id="attendance-sheets">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<input type="date" class="form-control" v-model="date" v-on:blur="getAttendance()">
									<button type="submit" class="btn btn-success btn-block mt-2" v-on:click="takeAttendance()"><span class="fa fa-camera mr-2"></span>Take Attendance Pic</button>
									<button type="submit" class="btn btn-warning btn-block mt-2" v-on:click="trainGroup()"><span class="fa fa-image mr-2"></span>Train AI GROUP</button>
									<label class="mt-3">{{ enrollees.length }} Students Enrolled on <u>{{ settings["sheet-data"]["t_subject"] + " - " + settings["sheet-data"]["t_section"] }}</u></label>
								</div>
							</div>

							<div class="col-12">
								<ul class="list-unstyled">
									<li class="media border-top py-2" v-for="nth in enrollees">
										<img class="mr-2 img-fluid" :src="'assets/img/' + thumbnail(nth['stud_sex'])" onerror="this.src='assets/img/placeholder.png';" alt="No Facial ID" style="width: 55px;" v-on:click="registerNewFaceID(nth)">
										<div class="media-body">
											<h4 class="mt-1 mb-1">
												{{ nth["s_name"] }}
												<input type="checkbox" onclick="return false;" :checked="checkAttendance(nth)" class="float-right">
											</h4>
											<span class="text-muted">ID: {{ nth["s_img"].slice(0, 20) }}</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</script>
				<script type="text/javascript" src="app/components/attendanceSheets.js"></script>

			<!-- // 5 -->
				<script type="text/x-template" id="register-face-api">
					<div class="container-fluid">
						<div class="row mb-4">
							<div class="col-12">

								<center>
									<img :src="imageURI" class="img-fluid" style="width: 50%;" onerror="this.src='assets/img/placeholder.png';">
									<!-- <input type="file" class="form-control-file mt-2" name="faceDetectSubject" id="faceDetectSubject" v-on:change="registerFaceID($event);"> -->
								</center>

								<h4 class="text-center py-4" v-if="faceId != ''">Face ID: {{ faceId }}</h4>
								<h4 class="text-center py-4" v-else>Upload image to register new face id</h4>

								<button class="btn btn-success btn-block mt-2" v-on:click="takePic()"><span class="fa fa-camera mr-2"></span>Take Pic</button>
								<button class="btn btn-primary btn-block mt-2" v-on:click="backtoSheets()"><span class="fa fa-reply mr-2"></span>Sheets</button>

							</div>
						</div>
					</div>
				</script>
				<script type="text/javascript" src="app/components/registerFaceApi.js"></script>

			<!-- // 6, 7, 8 -->
				<script type="text/x-template" id="take-attendance-pic">
					<div class="container-fluid">
						<div class="row mb-4">
							<div class="col-12">

								<center>
									<img :src="imageURI" class="img-fluid" style="width: 50%;" onerror="this.src='assets/img/placeholder.png';">
									<!-- <input type="file" class="form-control-file mt-2" name="faceDetectSubject" id="faceDetectSubject" v-on:change="detectFaceIDs($event);"> -->
								</center>

								<h4 class="text-center py-4" v-if="faceCount != ''">Face Detected: {{ faceCount }}</h4>
								<h4 class="text-center py-4" v-else>Upload Group Picture</h4>

								<button class="btn btn-success btn-block mt-2" v-on:click="takePic()"><span class="fa fa-camera mr-2"></span>Take Pic</button>
								<button class="btn btn-primary btn-block mt-2" v-on:click="backtoSheets()"><span class="fa fa-reply mr-2"></span>Sheets</button>

							</div>
						</div>
					</div>
				</script>
				<script type="text/javascript" src="app/components/takeAttendancePic.js"></script>

			<!-- // 9, 10 -->
				<script type="text/x-template" id="quiz-sheets">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">

								<div class="form-group">
									<select class="form-control" v-model="quiz">
										<option value="">- NEW QUIZ -</option>
										<option v-for="nth in quizzes" :value="nth">{{ nth["q_name"] }}</option>
									</select>
									<input type="text" name="Quiz Title" class="form-control" v-model="newQuiz" v-if="quiz == ''">
									<button class="btn btn-success btn-block mt-2" v-if="quiz == ''" v-on:click="createQuiz()">Create Quiz</button>
									<label class="mt-3">{{ enrollees.length }} Students Enrolled on <u>{{ settings["sheet-data"]["t_subject"] }}</u></label>
								</div>

							</div>

							<div class="col-12">
								<ul class="list-unstyled">
									<li class="media border-top pt-2" v-for="nth in enrollees">
										<div class="media-body">
											<div class="form-group row">
												<div class="col-8">
													<h5>{{ nth["s_name"] }}</h5>
													<span class="text-muted">Score: <b v-if="scores[nth['s_id']]">{{ scores[nth["s_id"]]["score"] }}</b></span>
												</div>
												<div class="col-4">
													<input type="number" class="form-control" v-on:blur="saveScore(nth, $event)" :disabled="quiz == ''">
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</script>
				<script type="text/javascript" src="app/components/quizSheets.js"></script>

			<!-- MAIN APP -->
				<script type="text/javascript" src="app/asugfr-app.js"></script>
	</body>
</html>
